.nav-link-after::after {
    background: #FF9113;
    border-radius: 2px;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 70%;
    width: 3px;
}

.nav-link-hover:hover::after {
    background: #6b7280;
    border-radius: 2px;
    content: "";
    height: 3px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 70%;
    width: 3px;
}

.watch_later input[type="checkbox"] + label {
    background-image: url('/img/bookmark.png');
}

.watch_later input[type="checkbox"]:checked + label {
    background-image: url('/img/bookmark-f.png');
}
