@supports (-webkit-touch-callout: none) {
    .webkit-fill-available {
        /* The hack for Safari */
        height: -webkit-fill-available;
    }
}

.watch_later input[type="checkbox"] + label {
    background-image: url('/img/bookmark.png');
}

.watch_later input[type="checkbox"]:checked + label {
    background-image: url('/img/bookmark-f.png');
}
